<section class="product_list section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product_sidebar">
                    <div class="single_sedebar">
                        <form action="#">
                            <input type="text" [(ngModel)]="searchtext" name="#" placeholder="Search keyword">
                            <i class="ti-search"></i>
                        </form>
                    </div>
                    <div class="single_sedebar">
                        <div class="select_option">
                            <select (change)="onChange($event)" class="select_option_list">Category <i class="right fas fa-caret-down"></i>
                            <option>category</option>
                         <option [value]="item" *ngFor="let item of category" >
                         {{item}}
                         </option>
                    </select>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product_list">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6" *ngFor="let item of productList | filter:searchtext" >
                            <div (click)="details(item)" class="single_product_item">
                                <img  src={{item.imageUrl}} alt="" class="img-fluid">
                                <h3> <a >{{item.productName}}</a> </h3>
                                <p>From $5</p>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>