    
    <!-- Preloader Start -->
    <app-preloader></app-preloader>
    <!-- Preloader Start -->
  
    <header>
        <!-- Header Start -->
      <app-header></app-header>
        <!-- Header End -->
    </header>
  
    <main>
  
        <!-- slider Area Start -->
        <app-slider-area></app-slider-area>
        <!-- slider Area End-->
        <!-- Category Area Start-->
     <app-category-area></app-category-area>
        <!-- Category Area End-->
        <!-- Latest Products Start -->
      <app-latest-product-area></app-latest-product-area>
        <!-- Latest Products End -->
        <!-- Best Product Start -->
     <app-best-product-area></app-best-product-area>
        <!-- Best Product End-->
        <!-- Best Collection Start -->
      <app-best-collection-area></app-best-collection-area>
        <!-- Best Collection End -->
        <!-- Latest Offers Start -->
       <app-latest-offers></app-latest-offers>
        <!-- Latest Offers End -->
        <!-- Shop Method Start-->
        <app-shop-method></app-shop-method>
        <!-- Shop Method End-->
        <!-- Gallery Start-->
       <app-gallery></app-gallery>
        <!-- Gallery End-->
  
    </main>
   <footer>
  
       <!-- Footer Start-->
   <app-footer></app-footer>
       <!-- Footer End-->
  
   </footer>
   
  